#!/bin/bash

function rcon {
  {{ server_base }}/tools/mcrcon -H localhost -P {{ rcon_port }} -p {{ rcon_pwd }} "$1"
}

## Save current server
rcon "save-off"
rcon "save-all"
tar -cvpzf {{ server_base }}/backup/server-$(date +%F-%H-%M).tar.gz {{ server_base }}/server
rcon "save-on"

## Delete older backups
find {{ server_base }}/backup/ -type f -mtime +7 -name '*.gz' -delete